{% set includedRoutes = ['paris', 'lasvegas', 'kyoto', 'sydney', 'hongkong'] %}

{% if app.request.attributes.get('_route') in includedRoutes %}
    {% set headerClasses = 'blockquote position-fixed start-0 end-0 d-flex justify-content-between align-items-baseline w-75 m-auto py-5 bg-transparent' %}
{% else %}
    {% set headerClasses = 'blockquote d-flex justify-content-between align-items-baseline w-100 m-auto px-5 py-2 bg-dark' %}
{% endif %}

<header class="{{ headerClasses }}">
    <a href="{{ path('paris') }}">
        <img src="{{ asset('images/icon.svg') }}" alt="Logo BnB" width="100">
    </a>
    <div class="d-flex align-items-center gap-3">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <div class="nav-item dropdown bg-body-tertiary py-2 px-3 rounded-pill">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Menu</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href={{ path('account') }}>My account</a></li>
                    <li><a class="dropdown-item" href={{ path('bookings') }}>My bookings</a></li>
                    <li><a class="dropdown-item" href={{ path('favorites') }}>My favorites</a></li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li><a class="dropdown-item" href={{ path('admin') }}>Admin dashboard</a></li>
                    {% endif %}
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href={{ path('app_logout') }}>Sign out</a></li>
                </ul>
            </div>
        {% else %}
            <a href="{{ path('app_login') }}" class="text-white text-decoration-none">Sign in</a>
            <a href="{{ path('app_register') }}" class="btn btn-light rounded-pill">Sign up</a>
        {% endif %}
    </div>
</header>